extends layout 

block content 
  .topbarcontainer 
    .auctionHome 
      p HOME 
    .boxcontainer
      .box1 
        p box1
      .box2 
        p box 2
      .box3 
        p box 3
  .bodycontainer 
    p This is the main, index page
