body {
  margin: 0;
}

.topbarcontainer {
  display: flex;
  background-color: rgb(196, 196, 196);
  margin: 0;
  justify-content: space-between;
  border: 1px solid black;
}

.boxcontainer {
  display: flex;
  background-color: white;
}

.bodycontainer {
  margin-bottom: 50vh;
}

.registercontainer {
  display: flex;
  justify-content: center;
}

.registerform {
  display: flex;
  margin: 30vh 0;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  align-items: center;
}

.loginbuttoncontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30vh 0;
}
